.parent {
    display: flex;
    width: 100%;
    border: 1px solid black;
    height: 40vh;
    
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.one {
    background-color: rgb(100, 148, 237, 0.5);
    border: 1px solid black;
}

.two {
    background-color: rgb(231, 204, 133, 0.8);
}

.three {
    background-color: rgb(172, 194, 139, 0.7);
}

.content1 {
    border: 1px solid black;
}