body {
    margin: 0;
    padding: 0;
}

#parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    align-items: center;
}

h1 {
    color: rgb(214, 116, 116);
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding: 0 1rem;
}

a {
    font-size: 1.5rem;
}

a:hover {
    color: tomato;
}

#img-container,
#intro {
    align-self: center;
}

#logo {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    height: 200px;
}

#logo > img {
    width: 60%;
    height: 100%;
}

footer {
    width: 100vw;
    height: 60px;
    background-color: rgb(214, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /* flex-shrink: 1; */
    height: 40px;
}
